html {
  color: white;
}

div.site-header h1 {
  display: block;
  text-align: center;
  font-size: xxx-large;
  letter-spacing: 10px;
}

div.page-header h3 {
  display: block;
  text-align: center;
  font-size: xx-large;
  letter-spacing: 5px;
}

div.page-body {
  display: block;
  text-align: center;
  font-size: x-large;
  letter-spacing: 2px;
  margin: 60px auto;
}

div.links a {
  margin: 0px 30px;
  text-decoration: none;
  color: white;
  background-color: var(--two);
  padding: 4px 40px;
  border-radius: 3px;
}

div.about-body {
  margin: 100px auto;
}