div#chat-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

div#chat-container h1 {
    height: 15%;
}

div#message-box {
    height: 75%;
    overflow: scroll;
}

div#message-field {
    height: 10%;
}

div.message {
    margin: 20px 4px;
    
}

div.message > * {
    margin: 7px 4px;
}

div.message small {
    font-size: 10pt;
}

div.message.sent {
    text-align: right;
}