div.page-header h3 {
    display: block;
    text-align: center;
    font-size: xx-large;
    letter-spacing: 5px;
}

div.page-body {
    display: block;
    text-align: center;
    font-size: x-large;
    letter-spacing: 2px;
    margin: 60px auto;
}

div.links a {
    margin: 0px 30px;
    text-decoration: none;
    color: white;
    background-color: var(--two);
    padding: 4px 40px;
    border-radius: 3px;
    border: hidden solid 7px;
}

div.links a.active {
    border: solid white 7px;
}

div.page-footer {
    display: block;
    text-align: center;
    font-size: x-small;
    letter-spacing: 1px;
    margin: 10px auto;
}

div.about-body {
    margin: 100px auto;
}

div.form-container form {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 400px;
    max-width: 600px;
    margin: 70px auto;
    padding: 45px;
    background-color: var(--one);
}

div.form-container form input {
    display: block;
    width: 96%;
    padding: 10px;
    margin: 10px 0px;
    border: none;
    border-radius: 3px;
    letter-spacing: 2px;
}

div.form-container form label {
    text-align: start;
}

form button {
    display: block;
    margin: auto;
    margin-top: 20px;
    width: fit-content;
    transition: all 0.25s;
}

form button:hover {
    background-color: var(--five);
    color: white;
    cursor: pointer;
}

form button:active {
    box-shadow: inset white 0px 0px 7px;
}

form p {
    display: block;
    text-align: right;
    font-size: medium;
    margin: 5px 0px;
}   