body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --one: #aad6ec;
  --two: #81b1ce;
  --three: #151269;
  --four: #0f1056;
  --five: #113065;
  background-color: var(--four);
}

button {
  border: none;
  background-color: var(--two);
  color: white;
  margin: 5px;
  padding: 5px 15px;
  border-radius: 3px;
  letter-spacing: 3px;
}