div.dash-container {
    margin: auto;
    width: 70%;
    min-width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

div.dash-column {
    width: 100%;
}

div.dash-box {
    background-color: var(--two);
    margin: 30px 15px;
    padding: 15px;
}

div.dash-box h3 {
    margin: 10px 15px 20px 20px;
    font-size: x-large;
    letter-spacing: 4px;
    text-shadow: var(--three) 2px 2px 0px;
}

div.dash-box#button-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div.dash-box#button-bar button{
    background-color: var(--four);
    padding: 10px 35px;
}

div.page-footer {
    margin: 35px auto 100px auto;
}

div.page-footer a {
    padding: 10px 40px;
}

div.recent-box, div.room-box {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 5px;
    background-color: var(--two);
    border: solid var(--one) 10px;
    width: 93%;
}

div.room-box button:hover {
    text-decoration: underline;
    text-underline-offset: 7px;
}

div.recent-box > * {
    margin: 5px;
}

div.recent-box img {
    width: 20%;
}

div.recent-box p {
    width: 60%;
    font-size: large;
}

div.recent-box button {
    width: 20%;
    background-color: var(--one);
}

div.recent-box button:hover {
    background-color: var(--three);
}